@use 'variables' as var;
* {
    box-sizing: border-box;
    margin: 0;
    font-size: 18px;
    font-family: 'Source Sans Pro', serif;
    color: var.$dark;
}

.spacer {
    width: 100%;
}

h1,h2,h3,h4 {
    font-weight: 900;
    color: var.$primary;
    letter-spacing: .25pt;
    transition: color 350ms ease;
    &:hover {
        color: var.$primary-hover;
    }
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-size: 40px;
    font-weight: 900;
    //Headline Component
}

h3 {
    font-size: 32px;
    font-weight: 900;
}

h4 {
    font-size: 26px;
    font-weight: 900;
}

a {
    display: block;
    text-decoration: none;
}

span {
    color: var.$primary;
}

input {
    &:focus {
        outline: none;
    }
}

// Spezial Kollege Button - Bitte aufräumen !! ->
@mixin button_animated {
    display: flex;
    justify-content: center;
    align-items: center;
    &-container {
        position: relative;
        padding: 12px 24px;
        background: var.$primary;
        border: none;
        border-radius: var.$round;
        cursor: pointer;
        overflow: hidden;
        transition: all 350ms ease;
        &-animate {
            display: block;
            position: absolute;
            content: '';
            top: 100%;
            left: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
            background: var.$orange;
            transition: all 350ms ease;
        }
        &:hover > & {
            &-animate {
                top: 0;
                background: var.$yellow;
            }
            &-text {
                color: var.$primary;
            }
        }
        &-text {
            display: block;
            position: relative;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: .5pt;
            color: var.$white;
            transition: color 350ms ease;
        }
    }
}

@mixin button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var.$primary;
    border: none;
    border-radius: var.$round;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .5pt;
    color: var.$white;
    transition: all 350ms ease;
    &:hover {
        background: var.$primary-hover;
    }
}

@mixin button_light {
    @include button;
    background: transparent;
    border: var.$border-filled;
    color: var.$primary;
    &:hover {
        color: var.$primary-hover;
        border-color: var.$primary-hover;
        background: transparent;
    }
}


.bg-white {
    background: white;
}

.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($color: var.$primary, $alpha: .5);
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    &-container {
        width: 100%;
        max-width: 500px;
        background: var.$white;
        padding: 2rem;
        border-radius: var.$br-xl;
    }
    &-headline {
        h2 {

        }
    }
    &-content {

    }
    &-actions {
        display: flex;
        gap: 10px;
    }
}