---
const { title } = Astro.props;
const { image } = Astro.props;
const { link } = Astro.props;
---

<style lang="scss">
  .card {
      width:100%;
      overflow: hidden;
      display: block;

      .card-image {
        width: 100%;
        height: auto;
        border-radius: 6px;
        aspect-ratio: 1/1;
        transition:all 500ms ease-out;
        &:hover {
          transform: scale(1.1);
        }
      }
  }
</style>

<a href={link} class="card">
  <img src={image} class="card-image" alt="image"/>
  <h3 class="card-headline">{title}</h3>
</a>