---
---

<div class="calendar">
    <div class="calendar-container">
        <div class="calendar-content">

            <div class="headline">
                Kalender
            </div>

            <div class="spacer">
            </div>

            <div class="calendar-content-inner">
                <div class="calendar-event">
                    <a href="/">
                        <div class="calendar-event-inner">
                        </div>
                    </a>
                </div>
                <div class="calendar-event">
                    <a href="/">
                        <div class="calendar-event-inner">
                        </div>
                    </a>
                </div>
                <div class="calendar-event">
                    <a href="/">
                        <div class="calendar-event-inner">
                        </div>
                    </a>
                </div>
            </div>

        </div>

        <div class="button">
            <button class="button-container">
                <span class="button-container-animate"></span>
                <span class="button-container-text">Klick mich</span>
            </button>
        </div>
    </div>
</div>