@use 'src/styles/variables' as var;
.musicslider {
    padding: 6rem 0;

    &-headline {

    }
    &-wrapper {
        max-width: 1000px;
        overflow: hidden;
        margin: auto;
        margin-bottom: 6rem;
    }
    &-container {
        display: flex;
        gap: 2rem;
    }
    &-button {
        display: flex;
        justify-content: center;
        .button {
            @include button;
        }
    }
}

.tns-liveregion {
    display: none;
}