---
import Card from '../components/Card.astro';
---

    <div>
     <Card title="Musiker" image="../../public/img/musiker.png"/>
     <Card title="Pädagoge" image="../../public/img/pädagoge.png"/>
     <Card title="Initiator" image="../../public/img/initiator.png"/>
     <Card title="Malletinstitut" image="../../public/img/malletinstitut.png"/>

    </div>