---
const { title } = Astro.props;
const { image } = Astro.props;
---

    <style>
    
    
    </style>

    <div class="card">
    <img  src="{image}" class="card-image" alt="image"/>
    <h3 class="card-headline">{title}</h3>
    
    </div>