---
import Card from '../components/Card.astro';
---

    <div>
     <Card title="Musiker" />
     <Card title="Pädagoge"/>
     <Card title="Initiator"/>
     <Card title="Malletinstitut"/>
    </div>