---
import heroImage from '../../public/img/hero.png';
---

<style lang="scss">
    .mg-hero {
        width: 100%;
        height: 100vh;
        position: relative;

        &-headline {
            color: white;
            position: absolute;
            bottom: 50vh;
            transform: translate(-50%);
            left: 50%;
        }

        &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
</style>
<div class="mg-hero">
    <h1 class="mg-hero-headline">
    hello world
    </h1>
    <img src={heroImage}
    class="mg-hero-image"
    />
</div>
