---
// Component imports and setup JavaScript go here!
const { headline } = Astro.props;
---

<style lang="scss">
    .mg-headline {
        color: red;
    }
</style>

<h1 class="mg-headline">{headline}</h1>