
---
const { headline } = Astro.props;
const { klasse } = Astro.props;
const { subline } = Astro.props;
---


<div class={klasse}>
    <h2 class="headline">{headline}</h2>
    <p class="subline">{subline}</p>
</div>